.advantage {
  padding-top: 25px;
  padding-left: 65px;
  padding-right: 18px;

  &--house {
    padding-top: 23px;
  }

  &--gift {
    padding-bottom: 46px;
  }
}

.advantage__title {
  text-align: left;
  margin-bottom: 16px;
}

.advantage__description {
  text-align: left;
  margin: 0;
}
