.footer-contacts {
  padding: 33px 82px;
  text-align: center;
}

.footer-contacts__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.footer-contacts__list {
  .list-reset;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}

.footer-contacts__link {
  display: block;
  width: 48px;
  height: 48px;
  background-color: @base-color;
}

.footer-contacts__copyright {
  margin: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.footer-contacts__copyright-logo {
  margin-left: 14px;
  display: block;
}
