.main-promo {
  background-color: @promo-background;
  background-image: url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 85px;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-bottom: 91px;
  }

  &--inner {
    background-image: url("../img/promo-background-inner.jpg");
    padding-top: 52px;
    padding-bottom: 67px;
    background-position: bottom;
  }

  @media (min-width: @tablet-width) {
    padding-top: 95px;
    padding-bottom: 117px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 101px;
    padding-bottom: 120px;
  }
}

.main-promo__text {
  display: block;
  margin: 0 auto;
}
