.main-header {
  position: relative;
}

.main-header__logo-image {
  display: block;
}

.main-header__logo--no-js {
  position: absolute;
  width: 185px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -39px;
}
