.main-promo {
  background-color: @promo-background;
  background-image: url("../img/promo-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 85px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 57px;
    background-image: url("../img/divider-promo.svg");
    background-position: -435px;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      background-position: -215px;
    }

    @media (min-width: @desktop-width) {
      background-position: 0;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-bottom: 91px;
  }

  &--inner {
    background-image: url("../img/promo-background-inner.jpg");
    padding-top: 52px;
    padding-bottom: 67px;
    background-position: bottom;
  }

  @media (min-width: @tablet-width) {
    padding-top: 95px;
    padding-bottom: 117px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 101px;
    padding-bottom: 120px;
  }
}

.main-promo__text {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 460px;
  }
}
