.main-nav--no-js {
  padding-bottom: 56px;
}

.main-nav__toggle--close {
  display: none;
}

.main-nav__list {
  .list-reset();
  background-color: @base-color;
}

.main-nav__item {
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: block;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;
}
