.main-nav {
  min-height: 56px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

//Стили для кнопки открытия меню навигации
//(отображается только на мобильных)
.main-nav__toggle {
  position: absolute;
  display: block;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--no-js {
  @media (max-width: @mobile-width-only) {
    padding-bottom: 56px;
  }
}

//Для меню без js кнопка не отображается
.main-nav--no-js .main-nav__toggle {
  display: none;
}

//Вид кнопки для закрытого меню
.main-nav--closed .main-nav__toggle {
  background-image: url("../img/header/icon-menu.svg");
}

//Вид кнопки для открытого меню
.main-nav--opened .main-nav__toggle {
  background-image: url("../img/header/icon-cross.svg");
}

//Меню закрыто, навигация не отображается
.main-nav--closed .main-nav__list {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

//Вид навигации при открытом меню
.main-nav--opened .main-nav__list {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.main-nav__list {
  .list-reset();
  background-color: @base-color;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: @light-color;
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav__item {
    box-shadow: 0 1px 0 @drop-shadow, inset 0 1px 0 @inner-shadow;
    margin-bottom: 1px;

    &:first-child {
      box-shadow: 0 1px 0 @drop-shadow;
    }

    &:last-child {
      box-shadow: inset 0 1px 0 @inner-shadow;
      position: relative;
      margin-bottom: 0;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 7px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        bottom: 0;
      }
    }
  }
}

.main-nav__item:nth-child(4n + 2) {
  @media (min-width: @tablet-width) {
    margin-right: 153px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 240px;
  }
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: @light-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 17px;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    color: @dark-color;
    padding-top: 18px;
    padding-bottom: 17px;
    width: 133px;

    &--current {
      color: @menu-current;
    }
  }

  @media (min-width: @desktop-width) {
    width: 220px;
  }
}
