.modal {
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

  &--failure {
    padding: 45px 42px 35px;
  }

  &--close {
    display: none;
  }
}

.modal__content--success {
  padding: 39px 39px 55px;
}

.modal__title {
  margin-bottom: 35px;
}

.modal__description-failure {
  margin-bottom: 28px;
}

.modal__wrapper-button {
  background-color: @body-color;
  padding: 20px;
}

.modal__button-ok {
  width: 180px;
  margin: 0 auto;
}

.modal__button-close {
  width: 100%;
}
