.page__container {
  width: 320px;
  margin: 0 auto;
  background-color: @light-color;
}

.page__body {
  font-family: @font-base;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: @font-color;
  background-color: @body-color;
  margin: 0;
}
