.photo-item {
  padding: 24px 20px 25px;
  border-bottom: 1px solid @border-color;
}

.photo-item__link {
  display: block;
  margin-bottom: 15px;
}

.photo-item__img {
  display: block;
  object-fit: contain;
}

.photo-item__title {
  color: @dark-color;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 5px;
}

.photo-item__author {
  margin-top: 0;
  margin-bottom: 11px;
}

.photo-item__like {
  padding-left: 37px;
}

.photo-item__like-count {
  font-weight: 700;
}
