.video {
  padding: 17px 20px 0;
}

.video__title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 35px;
}

.video__description {
  margin-bottom: 38px;
}

.video__player {
  display: block;
}
